/* App.css */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #F4F4F4; /* Warna abu-abu */
}

body {
  overflow: hidden; /* Opsional: untuk menghindari scroll jika tidak diinginkan */
}

/* Media queries untuk perangkat mobile */
@media (max-width: 600px) {
  html, body, #root {
    background-color: #F4F4F4;
  }
}
