html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #F4F4F4;
}

body {
  min-height: 100%; /* Ensure body extends to at least the full height of the viewport */
  width: 100%;
  background-color: #F4F4F4;
  overflow-y: auto; /* Allow vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Responsive background color */
@media (max-width: 600px) {
  html, body, #root {
    background-color: #F4F4F4;
  }
}
